body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* hero */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
    margin-bottom: 2px;
    /* border: 2px solid red; */
}

.logo {
    width: 50px; 
}

.hero-text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 25px;
    /* margin: 0; */
}


/* intro text */

.container {
    text-align: center;
    margin: 5vh auto; 
    padding: 0px 10px;
    margin: 2px;
    /* border: 2px solid red; */
}

p {
    color: #666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
}

/* questions */

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.question {
    margin: 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1px;

}

button {
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 4px;
}

#result {
    margin: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* leaderboard */

.leaderboard-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.leaderboard-btn:hover {
    background-color: #2980b9;
}